services:
  foods:
    build:
      context: ./
      dockerfile: Dockerfile
    restart: always
    networks:
      - traefik_web
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.foods.rule=Host(`foods.oesterlin.dev`)'
      - 'traefik.http.services.foods.loadbalancer.server.port=3000'
    environment:
      - POSTGRES_CONNECTION_STRING=postgresql://postgres:password@postgres:5432/food_db

networks:
  traefik_web:
    external: true